#sidebar {
    display: none;
}

.table th {
    font-weight: 500;
}

.table-sm td, .table-sm th {
    white-space: nowrap;
    width: 1%;
}

#tickets_list td {
    vertical-align: unset !important;
}

.ticket-view h3 {
    font-weight: 300;
    margin-bottom: 25px
}

.ticket-view .badge {
    font-size: 50%;
    position: relative;
    top: -5px;
}

#conversation {
    margin: 0 30px 0 30px;
}

#conversation .ticket_header {
    font-family: 'Open Sans', sans-serif;
    color: #34393C;
    font-weight: 500;
}

#conversation .ticket_content_client {
    background-color: #ececec;
    color: #333;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    overflow-wrap: break-word;
}

#conversation .ticket_content_staff {
    background-color: #98BF1B;
    color: #333;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #87b100;
    border-radius: 4px;
}

div#commentaire .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.st-header {
    float: left;
}
div.st-btn {
    float: right;
    background: transparent;
    padding-right: 0;
}
div.st-btn a{
    color: white !important
}