@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap');

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}

div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#invoice_model {
    padding: 30px;
    margin-top: 0px !important;
}
div#inv_contents table tbody tr td {
    font-size: 9pt !important;
}

.borderless {
    border: none !important;
}

/* Old CSS from HTML version*/
table {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.collection{
    border: none;
}
.collection .collection-item{
    border:none;
}

.input > .label > .flag {
  margin: 0;
}

/* FIX CSS EvoCMS */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th{
    vertical-align: middle !important;
}

.en-container {
    box-sizing: inherit;
    padding-top: 0px !important;
}

.ui.yellow.message {
    background-color: #fff8db !important;
    color: #b58105 !important;
    -webkit-box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent !important;
    box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent !important;
}

.ui.blue.message {
    background-color: #dff0ff !important;
    color: #2185d0 !important;
    -webkit-box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent !important;
    box-shadow: 0 0 0 1px #2185d0 inset, 0 0 0 0 transparent !important;
}




/*
 * Source : Bootstrap 4.3.1
 */

.table-danger {
    background-color: #f5c6cb;
}
.ui.modal > .header, .actions_modal {
    background: #f9fafb;
    padding: 1rem 1rem;
    border-top: 1px solid rgba(34,36,38,.15);
}
.actions_modal{
	text-align: right;
}
.ui.modal > .header{
	text-align: left;
}

.ui.modal > .actions {
    background: #f9fafb;
    padding: 1rem 1rem;
    border-top: 1px solid rgba(34,36,38,.15);
    text-align: right;
}


/*
 * Source : Semantic 2.4
 */

 .ui.vertical.menu .item > i.icon {
    margin: 0em 0.5em 0em 0.5em !important;
}

.ui.left_aligned.header {
    text-align: left;
}
.ui.right_aligned.header {
    text-align: right;
}
.ui.centered_header,
.ui.center_aligned.header {
    text-align: center;
}

.ui.red.table {
    border-top: 0.2em solid #DB2828;
    background-color: #fff !important;
}

.ui.blue.table {
    border-top: 0.2em solid #2185D0;
    background-color: #fff !important;
}

.ui.vertical.tabular.menu .active.item {
    background: #f2f2f2;
    color: rgba(0, 0, 0, 0.95);
    border-color: #D4D4D5;
    margin: 0px;
    border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
}

.tab > .ui.grid {
	margin-left: 0 !important;
	margin-right: 0 !important;
}


/*
 *  CSS Eshop
 */


.poptart.top-right {
	right: 20px;
	top: 100px;
}

.poptart.bottom-right {
	right: 10px;
	bottom: 10px;
}

.poptart.bottom-left {
	left: 10px;
	bottom: 10px;
}

.poptart.top-left {
	left: 10px;
	top: 10px;
}

.poptart {
	margin:0px; 
	position: fixed;
	z-index: 999;
}

.poptart a {
	color: inherit;
	font-family: Dosis, sans-serif;
	font-weight: bold;
}

.poptart > div {
	margin:10px;
}
 
div#eshop-header {border-radius: 0px 0px 5px 5px}
div#category {margin: calc(2rem - 0.14285714em ) 0em 1rem;}
div#category h3 {text-transform: capitalize}

div.eshop-segments-title{
    background-color: #37474f !important;
    color: white;
}

select.eshop_select {
    border-radius: 5px 0px 0px 5px !important;
}

#currency-globalrates-table {
    border-radius: 5px 5px 0px 0px;
    border-top: 0.2em solid #6435C9;
    max-height: 217px;
    overflow: overlay;
}

#currency-toolrates-table {
    border-radius: 5px 5px 0px 0px;
    border-top: 0.2em solid #e03997;
    max-height: 217px;
    overflow: overlay;
}

.eshop-item {
	margin-top: 10px;
	margin-bottom: 0px;
}

div#newprodstep .active {
    background: #37474f;
    color: rgb(255, 255, 255);
    border-color: #263238;
}

div#newprodstep .active:after {
    background-color: #37474f;
    border-top: none;
    border-right: none;
	right: 0.01%;
}

/*
 *	Page Sous-Catégories
 */
 
	/* Fix Semantic-UI */
	.ui.form select {height: 38px}
	.ui.form button {min-height: 38px}
	hr {border-top: 1px solid #cfd0d0}
	.ui.sub.header {font-weight: 500;}
	.ui.vertical.tabular.menu .active.item {background: #37474f;color: #ffffff}
	.ui.vertical.tabular.menu .active.item:after{background: #37474f}
	.ui.vertical.pointing.menu .item:after {border-top: none;border-right: none;margin: 0em 0.5px 0em 0em;}
	.ui.basic{background-color:white !important}
	select.ui.basic.blue {
		color: #2196F3 !important;
		box-shadow: 0px 0px 0px 1px #2196F3 inset !important;
		background-color: white !important;
		border: none;
		position: relative;
		left: 1px;
	}
	.ui.purple.message {background-color: #F6E7FF !important}
	.ui.orange.message {background-color: #FFEDDE !important}
	.ui.checkbox {margin: 0 !important}
	.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {background-color: #21ba45 !important;}
	.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {background: #db2828;}
	
	/* Eshop CSS */
	form span#tips {min-height: 38px;}
	form span#tips i {margin: 0px;height: 1em;vertical-align: middle;}
	table.ui.table th {background: rgb(55, 71, 79);color: white;font-weight: 400}
	.ui.form .field {margin:0}
	
	/* CSS 3.0 */
	input[name=amount_to_convert]{
		box-shadow: 0px 0px 0px 1px #E03997 inset !important;
		color: #E03997 !important;
	}
	select[name=currency_to_convert]{
		width: initial !important;
		border-radius: 0px 5px 5px 0px !important;
		height: 40px !important;
		position: relative;
		right: 3px !important;
		color: #E03997 !important;
	}


/*
 *	Page TAXES CSS
 */
#form-taxe div.input-group {margin-left: 15px;max-width: 195px;} 
#form-taxe .input-group input {} 
 
 

/*
 *	Preview Bloc CSS
 */
#new_product_preview {margin-top: 30px;}
#preview_bloc button {margin-right: 0px;}
#preview_bloc div.prev_title {border-bottom: 1px dashed #d4d4d5;}
#preview_bloc h2.prev_limit {text-align:left}
#preview_bloc div.prev_rating {font: 11px 'Open Sans',Helvetica,Arial,sans-serif;border-bottom: 1px dashed gray;padding-bottom: 10px;}
#preview_bloc div.prev_rating a.nbr_rater {position:relative;top:-2px;}
#preview_bloc div.prev_img img {text-align:center}
#preview_bloc h1.prev_price {text-align: center;margin: 0; font-family: 'Teko', sans-serif;font-weight: 100;font-size: 38pt;margin: 0;}
#preview_bloc h2.prev_pfees, h2.prev_limit {margin: 10px 0px 10px 0px !important; text-align:right}
#preview_bloc div.prev_short_desc, div.prev_options, div.prev_associated, div.prev_title,div.prev_rating {margin: 10px 0px;}
#preview_bloc div.prev_associated {margin-top: 30px}
#preview_bloc div.prev_associated button {margin: 2px;}
#preview_bloc div.ui.tab {margin: 10px;}